<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="left">
      <button class="btn">i</button>
      <h1 class="poqody">Poqody<hr></h1>
      <p>We are busy woking on something awesome</p>
      <h1>Back Soon|</h1>
      <button class="notify"  style="width: 200px; height: 50px;">NOTIFY ME ➡</button>
    </div>
    <div class="right">
      <div class="h1">
      <h1>We handcraft unique design &
        <br> digital experiences to surprise <br>
        the universe
      </h1>
      <br><br>
    </div>
      <h1>00 <hr></h1>
      <h5>More Days</h5>

    </div>
  </div>
</body>
</html>
